{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block t %} Base Page {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" title="style" />
  </head>
  <body>
    <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href='{% url "home" %}'>black<span class="logo_colour">&amp;white</span></a></h1>
          <h2>Black &amp; White Website Template.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href='{% url "home" %}'>Home</a></li>
          <li><a href='{% url "example" %}'>Examples</a></li>
          <li><a href='{% url "project" %}'>Projects</a></li>
          <li><a href='{% url "document" %}'>Documents</a></li>
          <li><a href='{% url "contact" %}'>Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div id="site_content">
      <div class="sidebar">
        <!-- insert your sidebar items here -->
      {% block sidebar %}
          sidebar content
      {% endblock %}
      </div>

      <div id="content">
        <!-- insert the page content here -->
        {% block content %}
            main content
        {% endblock %}
      </div>
    </div>

    <div id="content_footer"></div>
    <div id="footer">
      Copyright &copy; black &amp; white | <a href="http://validator.w3.org/check?uri=referer">HTML5</a>
       </div>
  </div>
  </body>
</html>
